*.aux
*.dvi
*.log
*.out
*.bbl
*.blg
*.spl
*.idx
*.lof
*.lot
*.loa
*.toc
*.bak
*.snm
*.nav
*.vrb
*.h5
*.gif
*.ico
*.js
*.cub*
*.jou*
*.bin
*~
EPDL
EADL
EEDL
include
lib
bin
CMakeFiles
CMakeCache.txt
GTAGS
GRTAGS
GPATH
.vscode/
